# ruff.toml

# Базовая длина строки.
line-length = 100
indent-width = 4
# Под какую версию Python писать код (минимум). Ruff будет подсказывать фичи для неё.
target-version = "py313"

[lint]
# ВКЛЮЧАЕМ проверки
select = [
    "E",    # PEP8 ошибки (стиль)
    "F",    # Pyflakes (логические ошибки, неиспользуемые переменные)
    "W",    # PEP8 предупреждения
    "I",    # isort (сортировка и группировка импортов)
    "B",    # flake8-bugbear (находит реальные баги, которые PEP8 пропускает)
    "C4",   # flake8-comprehensions (оптимизация list/dict/set генераторов)
    "UP",   # pyupgrade (предлагает новые фишки Python, например list[str] вместо List[str])
    "SIM",  # flake8-simplify (подсказывает, как упростить if/else и циклы)
    "RUF",  # Специфичные проверки самого Ruff
    "A",    # flake8-builtins (предупредит, если назовешь переменную id, type, list)
    "ISC",  # flake8-implicit-str-concat (найдет потерянные запятые в списках строк)
    "LOG",  # flake8-logging (проверит правильность использования logging)
    "FAST", # FastAPI
    "ASYNC", # Асихронный код
    "NPY",  # NumPy
    "DJ",   # Django
    "C4",   # flake8-comprehensions (оптимизация list/dict/set генераторов)
    "PERF",  # Выявление проблем с производительностью
    "FURB",  # Форматирование кода
]

# ОТКЛЮЧАЕМ раздражающие или ненужные проверки
ignore = [
    "E501",   # Длину строки игнорируем (форматтер сам всё поправит)
    "D",      # Docstrings (документацию к функциям не требуем)
    "INP001", # __init__.py не обязателен (полезно для папок со скриптами)
    "T201",   # print() разрешен везде (раздражает, когда ругается на принты)
    "PT009",  # Стиль pytest (игнорируем придирки к unittest-стилю в тестах)
    "RUF003", # Комментарии с необычными символами (часто ложные срабатывания)
    "B008",   # Разрешаем вызовы функций в аргументах (нужно для Depends в FastAPI/Typer)
    "RUF002",  # Юникод-символы в документации
    "RUF001",  # Использование нестандартных символов в коде
    # F405 (import *) я оставил включенным глобально, но отключил для .ipynb ниже.
]

# Настройки исключений для конкретных файлов
[lint.per-file-ignores]
"__init__.py" = ["F401"]            # В инитах импорты часто "висят" для экспорта — это ок
"*.ipynb" = ["E402", "F405"]        # В ноутбуках импорты не сверху и import * разрешены
"scripts/*.py" = ["E402"]           # В скриптах sys.path.append часто идет до импортов

[format]
# Используем двойные кавычки (стандарт Python)
quote-style = "double"
# Сохраняем отступы в docstrings
docstring-code-format = true
# Пробелы вместо табов
indent-style = "space"
