requests[socks]
BeautifulSoup4
pygame-ce
icdiff
json5
reedsolo
tree-sitter
pyjson5
pyjwt
calgebra[ical]
fonttools
statsmodels
tree-sitter-language-pack
msgspec
antlr4-python3-runtime
pyqt5
dilithium-py
minify-html
lottie
qscintilla
Pygments
docxtpl
xxhash
pymediawiki
pyzstd
pymorphy3
exif
libusb
dateparser
graphene
aiosqlite
aiofiles
sqlmodel
transitions
pyside6
keyboard
pytest
pytest-asyncio
pytest-django
pathspec
mouse
bcrypt
python-jose[cryptography]
jmespath
tomlkit
alembic
citeproc-py
python-benedict[io]
dishka
GitPython
black
translators
termcolor
mypy
tinydb
natsort
tabulate
mimesis
pyexcel
pyexcel-xlsx
pyexcel-xls
schedule
python-dotenv
qt5-applications
mysql-connector-python
adict
fs
lz4
seaborn
dominate
openai
deepdiff
bidict
yt-dlp[default]
google-api-python-client
aiohttp
git+https://github.com/brookite/pyvcard
python-Levenshtein
nuitka
python-telegram-bot
pyzipper
croniter
numpy
validators
matplotlib
geopy
pynbt
django
django-modern-rest
django-stubs-ext
djangorestframework
django-filter
django-extensions
django-cors-headers
django-apscheduler
django-ratelimit
channels[daphne]
prettytable
wget
vk_api
colorama
darkdetect
win32mica; sys_platform == 'win32'
djvulibre-python; sys_platform == 'linux'
pymupdf
rapidfuzz
readability-lxml; sys_platform == 'win32'
jupyter
phonenumbers
rsa
greenlet
httpx
pyfzf
segno
eel
python-docx
emoji
pygtrie
lxml
pycryptodome
progressbar
psutil
python-vlc
xlrd
xlwt
pandas
cython
Markdown
markdown-it-py[linkify,plugins]
docutils
Markups
pyenchant
PyQtWebEngine
openpyxl
pyinstaller
plyer
sympy
urwid
pynput
jedi
pyperclip
watchdog
Sphinx
astral
ruff
conan
flask
Flask-WTF
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-RESTful
Flask-Admin
email_validator
pytesseract
SQLAlchemy
pillow
rich
pickleDB
icecream
websockets
pyparsing
psycopg[binary]
asyncpg
pymongo
redis
textual
vcard
icalendar
vobject
networkx
scipy
scikit-learn
pydot
rdflib
pypdf[crypto]
wikitextparser
PyYAML
python-lsp-server
fastapi
fastapi-storages
fastapi-limiter
pydantic
pydantic-settings
uvicorn[standard]
gunicorn
grpcio
whitenoise
grpcio-tools
protobuf
cbor2
Brotli
jsonpatch
jsonschema
APScheduler
pyrate-limiter
